
html, body {
    height: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.home {
  padding-top: 10%;
  background-image:url('pic1.png');
  background-size: cover;
  background-position: center;;
  background-repeat: no-repeat;
  min-height: 93%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

.mui-panel {
  opacity: 0.9;
}

.about {
  padding-top: 5%;
  background-image:url('pic1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 93%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

.title {
  text-align: center;
}

.member {

}

.avatar {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 3em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
