

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.home {
  height: 815px;
  padding-top: 10%;
}

.about {
  height: 815px;
}

.title {
  text-align: center;
}

.member {

}

.avatar {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 3em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
